@font-face {
  font-family: Bauer;
  src: url(assets/fonts/FontsFree-Net-BAUERG__.ttf);
}

body {
  background-color: #001c3d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bauer", sans-serif;
}

.game {
  width: 800px;
  min-height: 100px;
  border-radius: 7px;
  padding: 30px;
  background-color: #94c6e3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game h1 {
  margin: 0 0 10px 0;
  background-repeat: no-repeat;
  background-position: 50% 55%;
  font-size: 40px;
  text-align: center;
  color: #252422;
  padding: 10px;
}

.game h2 {
  text-align: center;
  font-size: 20px;
  margin: 0 0 10px 0;
  color: #252422;
  padding: 10px;
}

.game p {
  font-size: 15px;
  padding: 10px;
}

.image {
  padding: 15px;
}

.option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #d9e5d6;
  font-size: 20px;
  padding: 20px;
}

button {
  margin: 5px;
  height: 40px;
  border-style: solid;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-width: 2px;
  background-color: #00a7e1;
  color: #d9e5d6;
}

button:hover {
  background-color: #a8aaa4;
  color: #3581b8;
}
